.running-main-containe {
    width: 80%;
    padding: 0 10; 
}

h2, h3, h1 {
    font-family: "robotoBold";
    /* text-decoration: underline; */
}

p {
    font-family: "robotoLight"
}

.running-container {
    padding: 0 10%;
    padding-top: 1rem;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
    height: 100%;
    display: flex;
    /* justify-content: space-around; */
}

.job-container {
    width: 15rem;
    height: 15rem;
    margin: 3%;
    background: #fff;
    box-shadow: 2px 2px 8px #888888;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}

.job-container:hover {
    background: rgb(241, 241, 241);
    box-shadow: 2px 2px 10px #000000;
}

.job-container:hover .job-enter-button {
    display: block;
}

.job-detail {
    width: 100%;
}

.job-id {
    font-size: 100%;
    color: #252525;
    margin: 0;
    margin-bottom: 1%;
}

.job-role {
    font-size: 90%;
    color: #888888;
    margin: 0;
}

.progress-bar {
    width: 60%;
    align-items: center;
    padding: 10% 20%;
}

.job-enter-button {
    background: transparent;
    border: none;
    outline: none;align-self: center;
    margin: 0;
    cursor: pointer;
    display: none;
    color: #252525;
    font-family: "robotoBold";
    text-decoration: none;
}

.centre-model-logs {
    /* margin: 3%; */
    box-shadow: 2px 2px 8px #888888;
    width: 80%;
    margin: 0 10%;
    /* padding-bottom: 5%; */
    background: #fff;
}

#chart {
    width: 90%;
    margin: 5%
}

.centre-model-logs h1 {
    text-align: center;
    padding: 2%;
    text-decoration: underline
}

.running-board-description-container {
    width: 80%;
    padding: 5% 10% 0 10%;
}

.box-container {
    padding: 2%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #647adb;
    
}

