.dashboard-container {
    padding: 0 5%;
    padding-top: 5rem;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    height: 100%;
}

.dashboard-header {
    border-bottom: 2px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    color: blueviolet;
    font-family: "robotoBold";
    font-size: 90%;
    margin-bottom: 3%;
}

.dashboard-header p {
    margin: 0;
    margin-bottom: 1%;
}

.dashboard-info-block {
    display: flex;
    justify-content: space-between; 
}

.dataset-container, .progress-container, .graph-container {
    box-shadow: 2px 2px 8px #888888;
    width: 26%;
    height: 17rem;
    background: #fff;
    padding: 2%;
    border-radius: 1%;
}

.dashboard-info-block-heading {
    margin: 0;
    font-family: "robotoBold";
    color: blueviolet;
}

.progress-bar-container {
    width: 80%;
    padding: 0 10%;;
}

.main-logs-container {
    background: #fff;
    width: 100%;
    height: 35rem;
    margin: 5% 0;
    box-shadow: 2px 2px 8px #888888;
    border-radius: 5px;
}

.text-log {
    width: 90%;
    border-radius: 5px;
    margin: 2% 4%;
    padding: 1%;
}

.log-headers {
    width: 100%;
    display: flex;
    padding-top: 2%;
}

.log-headers h4 {
    margin: 0;
    padding-left: 1%;
    padding-right: 2%;
    color: purple;
}

.log-headers > button {
    
    margin-right: 2%;
    
}

.log-headers button{
    background: #d6d6d6;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    outline: none;
}

.log-headers span {
    font-weight: bold;
    border-radius: 15%;
    margin-left: 14%;
    font-size: 80%;
    padding: 1%;
    color: purple;
}

.back-button {
    text-decoration: none;
    cursor: pointer;
    font-family: "robotoBold";
    color: purple;
    
}

.back-button > button {
    background: #d4d4d4;
    border-radius: 5px;
    border: none;
    padding: 10% 10%;
    outline: none;
}

.back-button > button:hover {
    color: rgb(161, 0, 161);
}

.dataset-container .table {
    width: 100%;
    margin: 13% 0;
    display: flex;
}

.table-head {
    width: 30%;
    color: gray;
    margin: 0;

}

.table-body {
    widows: 70%;
    color: gray;
    margin: 0;
}