.demo-landing-page {
    color: #02373f;
    height: 100vh;
}

.demo-page-container {
    background-image: url(../../assets/bg@2x.png);
    background-size: 100%;
    width: 100%;
    text-align: center;
    padding: 15rem 0 0 0;
    height: 90%;
}

.demo-page-container h1 {
    font-size: 4rem;
    color: #fff;
    font-family: "robotoBold";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#demo-link-1 {
    padding: 0.5rem 5rem
}

.demo-page-header {
    display: flex;
    width: 90%;
    position: fixed;
    height: 2rem;
    font-size: 0.9rem;
    padding: 0.5rem 5%;
    background: rgba(20, 17, 56, 0.3);
    /* border-bottom: 1.5px solid #e6e8ec; */
    /* z-index: 100000; */
    /* box-shadow: 0px 2px 10px #000000; */
    justify-content: space-between;
    align-items: center;
}

.header-right {
    font-family: 'robotoBold';
    text-shadow: 1px 1px 4px #222222;
    color: #fff;
}

.demo-landing-page .top-space {
    height: 2rem;
}

.fa {
    margin-left: 0.5rem;
    text-shadow: 2px 2px 4px #272727;
}

.demo-page-header .fluid-logo {
    height: 2rem;
}

.demo-projects-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome-card {
    padding-top: 3rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 0 13%;
}

.welcome-card h1 {
    color: #615ccc;
    font-size: 4rem;
    margin: 0;
    /* text-shadow: 2px 2px 4px #6682ff; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: transitionIn 2s;
    font-family: 'robotoBold';

}

.liquid-background {
    position: absolute;
    width: 100%;
    /* clip: rect(0px,2000px,300px,0px); */
    height: 15rem;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -1;
}

.porject-button-container {
    margin-top: 2rem;
    width: 90%;
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 2px solid rgb(197, 197, 197);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.porject-button-container p {
    font-family: 'robotoBold';
    margin: 0;
}

.porject-button-container button {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 1rem;
    height: 2rem;
}

.porject-button-container button span {
    font-weight: bold;
}

.project-list {
    display: flex;
    width: 90%;
    margin: 1rem 0;
}

.project-detail {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.project-list img {
    height: 2rem
}

.project-list .title {
    color: #615ccc;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.4rem;
    cursor: pointer;
    text-decoration: none;
}

.project-list .title:hover {
    color: #827edb;
    text-decoration: underline;
}

.project-list .detail {
    margin: 0;
    font-size: 0.9rem;
    color: #827edb;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.request-demo-button {
    text-decoration: none;
    color: #fff;
    padding: 2rem 6rem;
    background: #f4511e;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.7;
    font-size: 150%;
}

.request-demo-button:hover {
    opacity: 0.9;
}