body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  background: rgb(231, 231, 231);
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: robotoBold;
  src: url(../src/fonts/Roboto-Bold.ttf) format("opentype");
}

@font-face {
  font-family: robotoLight;
  src: url(../src/fonts/Roboto-Light.ttf) format("opentype");
}

@font-face {
  font-family: robotoMedium;
  src: url(../src/fonts/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: robotoRegular;
  src: url(../src/fonts/Roboto-Regular.ttf) format("opentype");
}

.invisible {
  display: none;
}