.fateboard-container {
    width: 100%;
    height: 100%;
}

.fateboard-header {
    width: 100%;
    height: 3rem;
    background: #4b5bcd;
    position: fixed;
    box-shadow: 0px 2px 8px #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.fateboard-header-heading {
    padding-left: 5%;
    font-family: "robotoBold";
    color: #fff;
    font-size: 140%;
    margin: 0;
    text-decoration: none;
    width: 30%;
}

.right-header {
    padding-right: 5%;
}

.running-button {
    color: #fff;
    text-decoration: none;
}